Flask
python-dotenv
gunicorn

langchain
langchain-core
langchain-community
langchain-huggingface
langchain-pinecone
langchain-groq
langchain-openai
langchain-text-splitters

sentence-transformers
transformers
torch

pypdf
pinecone-client
groq

requests
tqdm
